body {
    margin: 0;
    color: white;
    font-size: 14px;
    font-family: Montserrat;
}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.top-banner {
    background-image: url("img/cover.png");
    background-repeat: no-repeat;
    padding: 40px; 0 120px;

}

.container {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.top-banner_header {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 160px;

}

.header_nav {
    margin-left: auto;
}

.header_nav .nav_list {
    display: flex;
    gap: 20px;

}

.header_actions {
    margin-left: 40px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.action_item {
    background: transparent;
    border: none;
    display: flex;

}

button {
    padding: 0;
}

.item_icon {
    width: 16px;
    height: 16px;
}

h1,
h4 {
    text-align: center;
    font-family: 'Montserrat';
}

h1 {
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    

}

h4 {

    font-size: 20px;
    font-weight: 500;
    line-height: 30px;

}

.button {

    width: 185px;
    padding: 10px 36px 10px 36px;
    border-radius: 37px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.2px;
    align-items: center;
    border:1px solid white;
    background: transparent;
    cursor: pointer;


}

.button--primary {
    background-color: #FFA62B;
    border-color: #FFA62B;

}


a {
    color: inherit;
    text-decoration: none;
}

.header_go-home {
    font-size: 24px;
}

top-banner_content {
    max-width: 570px;

}
.top-banner_actions {
    display:flex;
    gap:10px;
    justify-content:center;
}